{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Calculator </title>
{% endblock %}

<!-- Project Information -->
{% block title %}
  <h1>Calculator Project</h1>
{% endblock %}

{% block link1 %}
  <a href="https://padlet.com/pragadeesh3000/zg8kksq513p2dpsl" class="btn">Project Plan</a>
{% endblock %}
{% block link2 %}
  <a href="https://github.com/PragadeeshRaj/Raj-Academy" class="btn">GitHub Repository</a>
{% endblock %}
{% block link3 %}
  <a href="https://docs.google.com/document/d/14RrAmqkMqANxfpfV2X1U6TVJ1xknYqJ0yg0QgrA3go8/edit?usp=sharing" class="btn">Resources</a>
{% endblock %}

