{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Calculator </title>
{% endblock %}

<!-- Project Information -->
{% block title %}
  <h1>Calculator Project</h1>
  <iframe height="500px" width="100%" src= {{Padlet2}} scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}

{% block link1 %}
  <a href="https://padlet.com/pragadeesh3000/zg8kksq513p2dpsl" class="btn">Project Plan</a>
{% endblock %}
{% block link2 %}
  <a href="https://github.com/PragadeeshRaj/CalculatorPage" class="btn">Calculator Page Repository</a>
{% endblock %}
{% block link3 %}
  <a href="https://docs.google.com/document/d/1n9Fl_CZIa7RSr6hoJ5_SllxEnMoAMEvFIZd-bT4OEbY/edit?usp=sharing" class="btn">Resources</a>
{% endblock %}

