{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Fundamentals </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
  <h1>Python Fundamentals Project</h1>
  <iframe height="500px" width="100%" src= {{Padlet1}} scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}

<!--{% block link1 %}
  <a href="https://padlet.com/pragadeesh3000/8d4vpki73p0z4eac" class="btn">Project Plan</a>
{% endblock %}-->
{% block link2 %}
  <a href="https://repl.it/@AZPragTeam/ThisIsItBois" class="btn">Repl Repository</a>
{% endblock %}
{% block link3 %}
  <a href="https://docs.google.com/document/d/1xPvTYXyzO0jsr4B-iy9nA8Yu-baAbQeymXPf33ssAPI/edit?usp=sharing" class="btn">Resources</a>
{% endblock %}