{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Home </title>
{% endblock %}

{% block title %}
  <h1>Welcome!</h1>

    <iframe height="500px" width="150%" src= {{Journal1}} scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    <iframe height="500px" width="150%" src= {{Journal2}} scrolling="yes" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}

{% block script %}
    <script src="https://threejs.org/build/three.js"></script>
    <script src="{{ url_for('static', filename='vanta.waves.min.js') }}"></script>
    <script>

    VANTA.WAVES({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 800.00,
      scale: 1.00,
      scaleMobile: 1.00,
      wingSpan: 40.0
    })
    </script>
{% endblock %}

